.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  text-align: center;
}
.result_div a {
  background: radial-gradient(circle, rgba(63,91,251,1) 0%, rgba(252,70,185,1) 100%);
  color: #fff !important;
  -webkit-text-fill-color: #fff;
}
.result_div {
  text-transform: uppercase;
  background-image: linear-gradient(
-225deg,
#0eadbb 0%,
#adc512 29%,
#ff4a13 67%,
#fff800 100%
);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 100px;
  display: block;
  font-weight: 600;
  margin-top: 5%;
}
.result_div span.title {
  display: block;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}